# Xcode
*.xcuserstate
*.xccheckout
*.moved-aside
xcuserdata/
DerivedData/
build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Temporary
tmp/
*.swp

# macOS
.DS_Store
._*
